/* stylelint-disable no-descending-specificity */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

body {
  background-color: rgb(248, 248, 248);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

header #logo a {
  font-size: 1.3rem;
  font-weight: 800;
  color: #6070ff;
}

header #menu ul a img {
  width: 40px;
  height: 40px;
}

.section-1 {
  background: url(image/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.section-1 h1 {
  font-size: 2.5rem;
  color: #172b4d;
  padding: 0 20px;
  line-height: 1.4;
}

.section-1 p {
  font-size: 1.2rem;
  color: #344563;
  padding: 0 20px;
  line-height: 1.5;
}

.section-1 h3 {
  font-weight: 100;
  color: #6070ff;
  padding: 0 20px;
}

.section-1 .nav-links ul {
  display: flex;
  padding: 0 20px;
  align-items: center;
  gap: 15px;
  height: 50px;
}

.section-1 .nav-links ul li {
  width: 30px;
  height: 30px;
}

.container {
  margin-top: 100px;
  padding: 20px;
  background-color: rgb(248, 248, 248);
}

.card {
  background-color: white;
  box-shadow: 0 0 1px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 100px;
}

.container .profile {
  width: 320px;
  height: 30vh;
  overflow: hidden;
}

.container .profile img {
  width: 100%;
  height: 100%;
  border: 10px;
  border-radius: 15px;
}

.card .card-description {
  margin-top: 20px;
  border-radius: 10px;
}

.card .card-description h3 {
  font-size: 2rem;
  color: #344563;
}

.card .card-description .profile-description {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.card .card-description .profile-description p {
  color: #7a869a;
  font-weight: bold;
}

.card .card-description .profile-description h4 {
  color: #344563;
}

.card .card-description .paragraph-description p {
  line-height: 1.5;
  margin-bottom: 20px;
  color: #344563;
}

.card .card-description .languages {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.card .card-description .languages p {
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 10px;
  padding: 6px 8px;
}

button {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #396df2;
  margin-bottom: 10px;
}

button a {
  font-size: 1.1rem;
  color: #396df2;
}

.section-2 {
  background: none;
  background-color: white;
  border-top-right-radius: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section-2 h2 {
  font-size: 2.5rem;
  color: #172b4d;
  line-height: 1.4;
}

.section-2 p {
  font-size: 1.2rem;
  color: #344563;
  line-height: 1.5;
}

.section-2 h3 {
  font-weight: 100;
  color: #6070ff;
}

.section-2 .language-description {
  font-size: 1.3rem;
  color: black;
}

.section-2 .nav-links ul {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
}

.section-2 .nav-links ul li {
  width: 30px;
  height: 30px;
}

.section-2 .languages {
  padding: 15px;
}

.section-2 .languages .language {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f7f7f9;
  padding: 6px;
  margin-bottom: 0.8rem;
  border-radius: 10px;
}

.section-2 .framework {
  display: flex;
  align-items: center;
  margin: 0 20px;
  border-bottom: 0.5px solid rgb(180, 180, 180);
}

.section-2 .framework p {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  color: black;
  width: 70vw;
  margin-right: 50px;
  padding: 20px 0;
}

.section-3 {
  padding: 50px 20px;
  background-image: url(image/contact\ form\ background\ shapes.svg);
  background-color: #6070ff;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  gap: 40px;
}

.section-3 h2 {
  text-align: center;
  font-size: 2.5rem;
}

.last p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #ebebff;
}

.section-3 .input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-3 .input .input-1 {
  width: 350px;
  height: 6vh;
  border-radius: 5px;
  border: none;
  z-index: 2;
  box-shadow: 0 0 5px;
}

.section-3 .input #input-2 {
  width: 350px;
  height: 20vh;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px;
}

.section-3 .input #input-2::placeholder {
  color: #b3bac5;
  padding: 0 20px;
  font-size: 1.2rem;
}

.section-3 button {
  width: 10rem;
}
